<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Elephant Bank</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

<style>

.center {
  margin-left: auto;
  margin-right: auto;
}
label{
  font-family: monaco;


}
input {
  width: 25%;
  margin: 8px 0;
  font-family: sans-serif-condensed;

}
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}


.table-wrapper{
    margin: 10px 70px 70px ;
    width:90%;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    padding-bottom:10px;
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: 1px;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}
		
table.table-wrapper td a.edit {
    color: #FFC107;
}
table.table-wrapper td a.delete {
    color: #E34724;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}
  </style>
</head>
<body>
	<div style="text-align: center;"><h3>Edit Provider</h3></div>
 <div>
    	<div id="data-collection" style="margin-top: 50px;">
  		<div id = "add-provider" style="text-align: right; width: 800px; margin-right: auto; margin-bottom: auto;">
 
    			<form method="post" th:action="@{/provider/save}" th:object = "${providerForm}">
    			<input type="hidden" th:field="*{id}">    			    			
    			<label>Provider Name</label>
    			<input type="text" th:field="*{nama}"/>
    			<div th:if="${#fields.hasErrors('nama')}" class = "error" th:errors="*{nama}"></div>
    			<br/>
    			<label>Alias</label>
    			<input type="text" th:field="*{alias}"/>
    			<div th:if="${#fields.hasErrors('alias')}" class = "error" th:errors="*{alias}"></div>
    			<br/>
    			<label>Code</label>
    			<input type="text" th:field="*{kode}"/>
    			<div th:if="${#fields.hasErrors('kode')}" class = "error" th:errors="*{kode}"></div>
    			<br/>
    			<button  type="submit" value="Save">Save</button>
    			</form>
    			<span th:if="${success}" th:text="${success}"></span>
    		</div>
    	</div>
    </div>


</body>

<script inline="javascript">
/*<![CDATA[*/
    var baseUrl = /*[[@{/}]]*/ "";
    /*]]*/

    function deleteData(data){
    var conf = confirm("Anda Yakin?")
    if(conf ==true){
        window.location = baseUrl + "provider/delete?id="+data;
    }

    return false;
}
function clearSearch(){
        window.location = "[[@{/nasabah}]]";
    }
    
</script>

</html>
	 
