<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Elephant Bank</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<style>

.error {
color : magenta ;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
label{
  font-family: monaco;


}
input {
  width: 25%;
  margin: 8px 0;
  font-family: sans-serif-condensed;

}
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}


.table-wrapper{
    margin: 10px 70px 70px ;
    width:90%;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    padding-bottom:10px;
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: 1px;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}
	
</style>

</head>
<br>
 <div>
    	<div id="data-collection" style="margin-top: 50px;">
  		<div id = "add-nasabah" style="margin-right: auto; margin-left: auto; text-align: center;">

    			<form method="post" th:action="@{/transaksi/save}" th:object="${transaksiForm}" style="text-align: center;">
					<div class="col-3" style="text-align: center; margin-left: auto; margin-right: auto;">

						<label>Sender Account</label><br/>
						<select name="pvd" id="pvd" style="text-align: center; width: 300px; border-width: 5px; border-color: aliceblue;" th:field="*{rekPengirims.noRekening}">
		                    	<option th:each="rekening : ${rekenings}"
			                            th:value="${rekening.noRekening}"
			                            th:text="${rekening.noRekening}">
			                    </option>
		                </select>
					</div>
		                <!-- Button trigger modal -->
			                <div class="col-3" style="text-align: center; margin-left: auto; margin-right: auto;">
								<label>Receiver Account</label><br/>
								<select name="pvd" id="pvd" style="text-align: center; width: 300px; border-width: 5px; border-color: aliceblue;" th:field="*{rekPenerimas.noRekening}">
				                    	<option th:each="rekening : ${rekenings}"
					                            th:value="${rekening.noRekening}"
					                            th:text="${rekening.noRekening}">
					                    </option>
				                </select>							
			                </div>
						<label>Amount (Rp)</label><br/>
						<input required type="text" th:field="*{amount}" style="text-align: center; width: 300px; border-width: 5px; border-color: aliceblue;" />
						<br/>

						<input class="btn btn-dark" style="background-color: aliceblue; color: black;" type="submit" value="Add Rekening"/>
				</form>

    		</div>
    	</div>
    </div>
    </br>
    
										<table class="table-wrapper">
											<thead>
												<tr>
													<td>Sender Acount</td>
													<td>Receiver Account</td>
													<td>Amount</td>
													<td>Sender Provider</td>
													<td>Receiver Provider</td>
													<td>Fee</td>
												</tr>
											</thead>
												<tbody th:each="transfer : ${transaksis}">
												<tr>
													<td th:text="${transfer.rekPengirims.noRekening}"></td>
													<td th:text="${transfer.rekPenerimas.noRekening}"></td>
													<td th:text="${transfer.rekPenerimas.saldo}"></td>
													<td th:text="${transfer.rekPengirims.provider.nama}"></td>
													<td th:text="${transfer.rekPenerimas.provider.nama}"></td>
													<td th:text="${transfer.fee}"></td>
													
												</tr>
											</tbody>
										</table>

 <!-- <div class="pagination-div">
            <span th:if="${pages.hasPrevious()}">
                <a th:href="@{/nasabah(pageNo=${pages.number-1},pageSize=${pages.size})}">Previous</a>
            </span>
            <th:block th:each="i: ${#numbers.sequence(0, pages.totalPages - 1)}">
                <span th:if="${pages.number == i}" class="selected">[[${i}+1]]</span>
                <span th:unless="${pages.number == i}">
                     <a th:href="@{/nasabah(pageNo=${i},pageSize=${pages.size})}">[[${i}+1]]</a>
                </span>
            </th:block>
            <span th:if="${pages.hasNext()}">
                <a th:href="@{/nasabah(pageNo=${pages.number+1},pageSize=${pages.size})}">Next</a>
            </span>
        </div>
    </div>-->

</body>

<script inline="javascript">
/*<![CDATA[*/
    var baseUrl = /*[[@{/}]]*/ "";
    /*]]*/

    function deleteData(data){
    var conf = confirm("Anda Yakin?")
    if(conf ==true){
        window.location = baseUrl + "transaksi/delete?id="+data;
    }

    return false;
}


</script>

</html>