<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Elephant Bank</title>
<style>
.error {
color : magenta ;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
label{
  font-family: monaco;


}
input {
  width: 25%;
  margin: 8px 0;
  font-family: sans-serif-condensed;

}
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}


.table-wrapper{
    margin: 10px 70px 70px ;
    width:90%;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    padding-bottom:10px;
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: 1px;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}
  </style>
</head>
<body>
 <div>
    	<div id="data-collection">
  		<div id = "edit-nasabah" style="text-align: right; width: 800px;float: left; margin-right: 30px; margin-bottom: 50px;">
 
    			<form name="form" method="post" th:action="@{/nasabah/save}">
    			<input type="hidden" th:field="*{nasabahForm.id}">    			    			
    			<label>Name</label>
    			<input type="text" th:field="*{nasabahForm.namaLengkap}"/>
<!--    			<div th:if="${#fields.hasErrors('nasabahForm.namaLengkap')}" class = "error" th:errors="*{nasabahForm.namaLengkap}"></div>
-->    			<br/>
    			<label>NIK</label>
    			<input type="text" th:field="*{nasabahForm.nik}"/>
<!--    			<div th:if="${#fields.hasErrors('nasabahForm.nik')}" class = "error" th:errors="*{nasabahForm.nik}"></div>
-->    			<br/>
    			<label>Date of Birth</label>
    			<input type="date" th:field="*{nasabahForm.tanggalLahir}"/>
<!--    			<div th:if="${#fields.hasErrors('nasabahForm.tanggalLahir')}" class = "error" th:errors="*{nasabahForm.tanggalLahir}"></div>
-->    			<br/>
    			<label>Email</label>
    			<input type="email" th:field="*{nasabahForm.email}"/>
<!--    			<div th:if="${#fields.hasErrors('nasabahForm.email')}" class = "error" th:errors="*{nasabahForm.email}"></div>
-->	 			<br/>
    			<label>Contact</label>
    			<input type="text" th:field="*{nasabahForm.noContact}"/>
<!--    			<div th:if="${#fields.hasErrors('nasabahForm.noContact')}" class = "error" th:errors="*{nasabahForm.noContact}"></div>
-->    			<br/>
    			<label>Account No</label>
    			<input type="text" th:field="*{rekeningForm.noRekening}"/>
<!--    			<div th:if="${#fields.hasErrors('rekeningForm.noRekening')}" class = "error" th:errors="*{rekeningForm.noRekening}"></div>
-->    			<br/>
    			<label>Provider</label>
                <select style="width: 150px;" name="provider" id="provider"  class="selectpicker" data-title="Single Select" data-style="btn-default btn-block" data-menu-style="dropdown-blue" th:field="*{providerForm.nama}">
                	<option th:each="provider : ${providers}"
                            th:value="${provider.nama}"
                            th:text="${provider.nama}">
                    </option>
                </select>
    			<button  type="submit" value="Save">Save</button>
    			</form>
    			<span th:if="${success}" th:text="${success}"></span>

    		</div>
    	</div>
    </div>
    



</body>


</html>